.picture-container {
  height: 290px;
  max-width: 400px;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
}

.img-container {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.pic-container {
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  
}

.love-it-button {
  max-width: 75px;
}

.love-it-p-tag {
  height: 15px;
}
